{
  "Azure": {
    "WebLogs": {
      "ConnectionString": "",
      "BlobContainerUrls": [
        "https://exampleaccount.blob.core.windows.net/weblogs"
      ],
      "PathPrefixes": [
        "BF-PROD-APP-1-UC/"
      ],
      "BlobPathTemplates": [
        "{instance}/{yyyy}/{MM}/{dd}/{HH}/{filename}.log",
        "w3c/{instance}/{yyyy}/{MM}/{dd}/{HH}/{filename}.log"
      ],
      "SaveAllBlobsDirectory": "./logs",
      "FileNamePattern": "{instance}-{yyyyMMdd_HHmm}.log",
      "DefaultDailyLookbackDays": 1,
      "DefaultWeeklyLookbackDays": 7,
      "EnableFileLogging": false,
      "FileLogPath": "./logs/azure-web-log-downloader.log"
    }
  }
}
